.profile-header {
  align-items: center;
  background-color: #e5f4e3;
  background-image: url("https://www.transparenttextures.com/patterns/escheresque-dark.png");
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  width: inherit;
}

.profile-header > div {
  /* border: 1px solid red; */
  display: flex;
}

.profile-name {
  margin: auto;
  text-shadow: 2px 2px 2px grey;
}