nav {
  align-items: flex-end;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  flex-flow: row wrap;
  height: 120px;
  justify-content: space-between;
  padding: 0 1.5em 1em 1.5em;
  position: fixed;
  width: 100vw;
}

.logo {
  font-family: 'Bungee', cursive;
  font-size: 1.5em;
}

.write-tweet-container {
  align-items: center;
  display: flex;
  font-size: 0.75em;
  flex-direction: column;
}

.fa-solid.fa-angles-down {
  color: #FF0000;
}