nav {
  align-items: flex-end;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  flex-flow: row wrap;
  height: 120px;
  justify-content: space-between;
  padding: 0 1.5em 1em 1.5em;
  position: fixed;
  width: 100vw;
}

.logo {
  font-family: 'Bungee', cursive;
  font-size: 1.5em;
}

.write-tweet-container {
  align-items: center;
  display: flex;
  font-size: 0.75em;
  flex-direction: column;
}

.compose-tweet {
  position: relative;
  z-index: 1;
}

.fa-solid.fa-angles-down {
  color: #FF0000;
  position: relative;
  top: 1px;
  z-index: -1;
  -webkit-transition: top 0.4s;
  -moz-transition: top 0.4s;
  -o-transition: top 0.4s;
  transition: top 0.4s;
}

.compose-tweet:hover+.fa-solid.fa-angles-down {
  top: 10px;
}