.new-tweet {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 0;
  width: 100%;
}

.new-tweet .button-counter {
  /* border: 1px solid red; */
  display: flex;
  font-family: 'Bungee';
  justify-content: space-between;
  width: 100%;
}

.new-tweet .tweet-btn {
  background-color: #4056A1;
  border: 1px;
  border-radius: 5px;
  color: white;
}

.new-tweet .tweet-btn:hover {
  background-color: #4f6cca;
}

.new-tweet .tweet-btn:active {
  background-color: #28386a;
  border: 0.5px solid transparent;
}

.new-tweet #tweet-text {
  background-color: transparent;
  border-width: 0 0 2px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  height: 25px;
  min-height: 25px;
  resize: vertical;
	width: 100%;
}