section.new-tweet {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 100%;
  padding: 20px 0 20px 0;
}

section.new-tweet .button-counter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: 'Bungee';
  /* border: 1px solid red; */
}

section.new-tweet .new-tweet-button {
  background-color: #4056A1;
  color: white;
  border: 1px;
  border-radius: 5px;
}

section.new-tweet .new-tweet-button:hover {
  background-color: #4f6cca;
}

section.new-tweet .new-tweet-button:active {
.new-tweet-button:active {
  background-color: #151c36;
}

section.new-tweet textarea#tweet-text {
  resize: vertical;
  border-width: 0 0 2px;
  background-color: transparent;
  min-height: 25px;
  height: 25px;
	width: 100%;
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
}