.tweets-container {
  border: 2px solid gray;
  font-size: 0.75em;
  margin: 20px 0 20px 0;
  padding: 20px;
}

.tweets-container:hover {
  box-shadow: 5px 5px 5px grey;
}

.tweets-container header {
  display: flex;
  font-weight: bolder;
  justify-content: flex-start;
}

.tweets-container header > span {
  padding: 10px;
}

.tweet-user-handle {
  color: #4057a17e;
  margin-left: auto;
}

.tweet-body {
  border: 1px solid gray;
  border-width: 0 0 2px;
  margin: auto;
  padding: 20px;
}

.tweets-container footer {
  display: flex;
  font-size: 0.6em;
  justify-content: space-between;
}

.tweet-footer-icons {
  color: #4056A1;
  padding: 2px;
} 

.tweet-footer-icons > i:hover {
  color: red;
}