.form-error-empty, .form-error-charlimit {
  background-color: #FFBABA;
  border: 1px solid;
  color: #D8000C;
  display: none;
  font-size: 0.6em;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.tweet, .add-tweet {
  border: 2px solid gray;
  font-size: 0.75em;
  margin: 20px 0 20px 0;
  padding: 20px;
  -webkit-transition: box-shadow 0.2s ease-in-out;
  -moz-transition: box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
}

.add-tweet {
  display: none;
}

.tweet:hover, .add-tweet:hover {
  box-shadow: 5px 5px 5px grey;
}

.tweet header, .add-tweet header {
  display: flex;
  font-weight: bolder;
  justify-content: flex-start;
}

.tweet header > span, .add-tweet header > span {
  padding: 10px;
}

.tweet-user-handle {
  color: #4057a17e;
  margin-left: auto;
}

.tweet-body {
  border: 1px solid gray;
  border-width: 0 0 2px;
  margin: auto;
  padding: 20px;
}

.tweet footer, .add-tweet footer {
  display: flex;
  font-size: 0.6em;
  justify-content: space-between;
}

.tweet-footer-icons {
  color: #4056A1;
  padding: 2px;
} 

.tweet-footer-icons > i {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.tweet-footer-icons > i:hover {
  color: red;
}